<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Sunny Home - Triggers</title>
</head>
<body>
<!--*******************
    Preloader start
********************-->
<div th:replace="fragments/preloader :: preloader()" id="preloader"></div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/logo :: logo()" class="nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/navheader :: navHeader(navtitle='Trigger List')" class="header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebar :: baseSidebar(active='infodata')" class="dlabnav"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="d-flex align-items-center mb-4 flex-wrap">
                <h4 class="fs-20 font-w600  me-auto">Trigger list</h4>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="col-xl-4">
                        <div class="alert alert-success left-icon-big alert-dismissible fade show" th:if="${success == true}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"><span><i class="mdi mdi-btn-close"></i></span>
                            </button>
                            <div class="media">
                                <div class="alert-left-icon-big">
                                    <span><i class="mdi mdi-check-circle-outline"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-1 mb-2">Congratulations!</h5>
                                    <p class="mb-0">You have successfully created or edited a Trigger.</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning left-icon-big alert-dismissible fade show" th:if="${deletesuccess == true}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"><span><i class="mdi mdi-btn-close"></i></span>
                            </button>
                            <div class="media">
                                <div class="alert-left-icon-big">
                                    <span><i class="mdi mdi-check-circle-outline"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-1 mb-2">Deleted</h5>
                                    <p class="mb-0">You have successfully deleted a Trigger.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" th:if="${triggers != null}">
                        <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="triggerlist">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Trigger Name</th>
                                    <th>InfoData Key</th>
                                    <th>Operation</th>
                                    <th>InfoData Value</th>
                                    <th>Status updated</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="trigger : ${triggers}">
                                <td th:text="${trigger.id}">1</td>
                                <td th:text="${trigger.triggerName}">1</td>
                                <td th:text="${trigger.infoDataKey}" class="wspace-no">solax_info</td>
                                <td th:text="${trigger.triggerOperation}"><=></td>
                                <td th:text="${trigger.infoDataValue}">2</td>
                                <td th:text="${trigger.statusUpdatedTime}"><=></td>
                                <td>
                                    <span th:if="${trigger.triggerState == true}" class="badge badge-success badge-lg light">ON</span>
                                    <span th:if="${trigger.triggerState == false}" class="badge badge-danger badge-lg light">OFF</span>
                                </td>
                                <td>
                                    <div class="action-buttons d-flex justify-content-end">
                                        <a th:href="@{/trigger(id=${trigger.id})}" class="btn btn-secondary light mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="svg-main-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${triggers == null || triggers.empty}">
                        <p> No triggers available </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragments/footer :: baseFooter()" class="footer"></div>

    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="fragments/scripts :: baseScripts()"></th:block>
<script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="./js/plugins-init/datatables.init.js"></script>
</body>
</html>